body{
    font-family: 'Poppins', sans-serif;
    width: 100%;
    overflow-x: hidden;
}
article{
    width:100%;
}
.upper-part{
    display: flex;
    background-color:  #2D25A0;
    overflow-x: hidden;
}
.half-width{
   width:50%;
}
.half-width img{
    width :556.01px;
    height: 438px;
    margin: 153px 140.99px 86px 0px;
}
.half-width .head{
    width:485px;
    height:230px;
    margin: 207px 102px 81px 156px;
}
.half-width h1{
    font-size: 64px;
    color:#FFFFFF;
}
.button-live a{
    margin-left: 156px;
    text-decoration: none;
    color:#FFFFFF;
    font-size: 16px;
    background-color: #E02C6D;
    padding:10px 24px 10px 24px;
}
    /*  hover button */
.button:hover{

    background-color: #6C6C6C;
    transform: scale(1.9) rotate(60deg);
}
    /* hover , transition effect */
.upper-part:hover .banner{
    transform: scale(-1.9) rotate(180deg);
    transition: transform 4s ease;
    overflow-x: hidden;
    margin:0;
}
.break{
    display: block;
}

/* mid section */

.players{
    margin: 70px 210px 160px 180px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 30px;
    grid-row-gap: 27px;
    
}
.player{
    width: 330px;
    height: 474px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.player img{
    width:300px;
    height:256px;
    margin:16px;
    margin-bottom: 0px;
}
.player-info{
    width:300px;
    height: 154px;
    margin:16px 15px 33px 15px;
}
.player-info p{
    size:16px;
    font-weight: 400;
    margin-top: 0px;
    color:#6C6C6C;
}
.player-info h3{
    margin-top: 16px;
    margin-bottom: 10px;
    color: #18191F;
    font-size: 28px;
}  
/* form */
fieldset{
    text-align: center;
    margin: 0px 20px;
    margin-bottom: 158px;
    font-size: 20px;
}
.pos{
    display: flex;
}
/* submit button */
button{
    text-decoration: none;
    color:#FFFFFF;
    font-size: 16px;
    background-color: #E02C6D;
    padding:10px 24px 10px 24px;
    margin-left: 25px;
    cursor: pointer;
}
/* footer */
footer{
    width:100%;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.foot{ 
    width:483.87px;
    height:213px;
}
.foot-icon{
    width:483.87px;
    height:110px;
}
.foot-icon img{
    width:100%;
}
.social-icon{
    width:170px;
    height:32px;
    margin: 20px 156.94px;
    margin-bottom: 0px;
}
.social-icon i{
    width:36px;
    height:36px;
    background-color: none;
}
.social-icon p{
    font-weight: 400;
    font-size: 18px;
}
.copyright{
    margin:0px 123.94px;
}


/* mediaquery for mini phone */
@media only screen and (max-width:480px) {
   /* upper part */
    .upper-part{
        display: block;
            background-color:  #2D25A0;
            width:360px;
    }
    .half-width{
        width:100%;
    }
    .half-width h1{
        font-size: 36px;
        color:#FFFFFF;
    }
    .half-width img{
        width :329.01px;
        height: 259px;
        margin: 13px 15.99px 12px 0px;
    }
    .banner{
        margin: 0;
    }
    /* mid section */
    .players{
        grid-template-columns: repeat(1,1fr);
        margin: 0px 150px;
        grid-column-gap: 0;
        
    }   
    .player{
        width:330px;
        height:474px;
    }
    .player img{
        width: 300px;
        height: 256px;
        margin: 15px 15px 0px 15px;
    }
    /* footer */
    .footer{
        justify-content: flex-start;
    }
    .foot{
        width:236px;
    }
    .copyright{
        width: 100%;
    }
    .copyright p{
        text-align: center;
        display: inline;
    }
    .upper-part:hover .banner{
        transform: none;
        transition:none;
        width: 100%;
        margin:0;
    }

}

/* media query for tablet */
@media only screen and (min-width:481px) and (max-width:769px) {
     .upper-part{
         flex-direction: column;
         margin-bottom: 120px;
     }
     .upper-part img{
         margin-left: 120px;
     }
     .players{
        grid-template-columns: repeat(2,1fr);
        margin: 0px 15px 200px 30px;        
    } 
    .upper-part:hover .banner{
        transform: none;
        transition:none;
        width: 100%;
        margin:0;
    }
}